<%- include('layout/header') %>
<div class="auth-page" id="login">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">
          <%= locals.isLogin ? "Sign in" : "Sign up" %>
        </h1>
        <p class="text-xs-center">
          <% if(locals.isLogin) { %>
          <a href="/register">Need an account?</a>
          <% } else { %>
          <a href="/login">Have an account?</a>
          <% } %>
        </p>

        <ul class="error-messages">
          <li v-for="error in errors">{{ error.msg }}</li>
        </ul>

        <form @submit.prevent="handleSubmit">
          <% if(!locals.isLogin) { %>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Your Name"
              v-model="user.username"
            />
          </fieldset>
          <% } %>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
              v-model="user.email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              v-model="user.password"
            />
          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
            <%= locals.isLogin ? "Sign in" : "Sign up" %>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('layout/footer',{"script":`
<script>
  Vue.createApp({
    data() {
      return {
        user: {
          username: "",
          email: "",
          password: "",
        },
        errors: [],
      };
    },
    methods: {
      async handleSubmit() {
        // 1. 客户端表单验证
        // 2. 验证通过，提交表单
        try {
          // axios 默认提交的数据格式 application/json
          const url =
            window.location.pathname === "/login" ? "/login" : "/register";

          const { data } = await axios.post(url, {
            user: this.user,
          });

          // 清除错误信息
          this.errors = [];

          // 跳转到首页
          window.location.href = "/";
        } catch (err) {
          if (err.response.status === 400) {
            this.errors = err.response.data.errors;
          }
        }
      },
    },
  }).mount("#login");
</script>
`}) %>
